<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neusoft.demo.order.dao.OrderDao">

    <resultMap id="OrderMap" type="com.neusoft.demo.order.entity.Order" >
        <result column="order_code" property="orderCode" />
        <result column="order_state" property="orderState" />
        <result column="pay_state" property="payState" />
        <result column="pay_time" property="payTime" />
        <result column="receive_time" property="receiveTime" />
        <result column="user_code" property="userCode" />
        <result column="store_code" property="storeCode" />
        <result column="order_price" property="orderPrice" />
        <result column="payment_money" property="paymentMoney" />
        <result column="remarks" property="remarks" />
        <result column="is_delete" property="isDelete" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="last_modfied_by" property="lastModfiedBy" />
        <result column="gmt_modfied" property="gmtModfied" />
        <result column="version" property="version" />
    </resultMap>

    <resultMap id="OrderDetailedMap" type="com.neusoft.demo.order.entity.OrderDetailed" >
        <result column="order_det_code" property="orderDetCode" />
        <result column="order_code" property="orderCode" />
        <result column="goods_code" property="goodsCode" />
        <result column="goods_cnt" property="goodsCnt" />
        <result column="goods_all_price" property="goodsAllPrice" />
        <result column="is_delete" property="isDelete" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="last_modfied_by" property="lastModfiedBy" />
        <result column="gmt_modfied" property="gmtModfied" />
        <result column="version" property="version" />
    </resultMap>

    <sql id="Base_Column_List">
                order_code,
                order_state,
                pay_state,
                pay_time,
                receive_time,
                user_code,
                store_code,
                order_price,
                payment_money,
                remarks,
                is_delete,
                create_user,
                create_time,
                last_modfied_by,
                gmt_modfied,
                version
    </sql>

    <!--新增订单-->
    <insert id="addOrder" parameterType="com.neusoft.demo.order.entity.Order">
        insert into t_order
           (order_code,
            order_state,
            pay_state,
            pay_time,
            receive_time,
            user_code,
            store_code,
            order_price,
            payment_money,
            remarks,
            is_delete,
            create_user,
            create_time,
            last_modfied_by,
            gmt_modfied,
            version)
           values
           (#{orderCode},
            #{orderState},
            #{payState},
            #{payTime},
            #{receiveTime},
            #{userCode},
            #{storeCode},
            #{orderPrice},
            #{paymentMoney},
            #{remarks},
            0,
            #{createUser},
            now(),
            #{lastModfiedBy},
            #{gmtModfied},
            0)
    </insert>

    <!--新增订单详情-->
    <insert id="addOrderDetailed" parameterType="com.neusoft.demo.order.entity.OrderDetailed">
        insert into t_order_detailed
            (order_det_code,
                order_code,
                goods_code,
                goods_cnt,
                goods_all_price,
                is_delete,
                create_user,
                create_time,
                last_modfied_by,
                gmt_modfied,
                version)
            values
                (#{orderDetCode},
                 #{orderCode},
                 #{goods_code},
                 #{goodsCnt},
                 #{goodsAllPrice},
                 0,
                 #{createUser},
                 now(),
                 #{lastModfiedBy},
                 now(),
                 0)
    </insert>
    
    <!--修改订单状态-->
    <update id="updateOrderState" parameterType="com.neusoft.demo.order.entity.Order">
        update t_order
        set
        order_state = #{orderState},
        gmt_modfied = now(),
        last_modfied_by   = #{lastModfiedBy},
        version = version + 1
        where order_code in
        <foreach item="item" index="index" collection="listCode" open="(" separator="," close=")">
            #{item}
        </foreach>
        and is_delete = 0
        and version = #{version}
    </update>

    <!--查询订单列表-->
    <select id="listsOrder" parameterType="com.neusoft.demo.order.entity.Order" resultMap="OrderMap">
        select

        from t_order t1,t_sys_user t2
        where t1.is_delete = 0
        <if test="name != null and name != ''">
            and t2.name like concat('%', #{name}, '%')
        </if>
        <if test="orderCode != null and orderCode != ''">
            and t1.order_code like concat('%', #{order_code}, '%')
        </if>
        <if test="payTime != null and role != ''">
            and a.pay_time &gt;= #{}
            and a.pay_time &lt;= #{}
        </if>
        order by t1.create_time desc
    </select>
</mapper>