<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.imageUpload.dao.ImageUploadDao">



    <!--新增图片-->
    <insert id="addImage" parameterType="string">
        insert into t_image
        (img_id,
         img_path,
         user_code
         )
         values
         (#{imgId},
          #{imgPath},
          #{userCode}
          )
    </insert>


</mapper>